[Unit]
Description=Daily Prispect backup

[Timer]
OnCalendar=*-*-* 04:30:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
